.header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url('./../../../../../assets/small-bg.png') center center no-repeat;
  background-size: cover;
  height: 250px;

}

.services {
  .tags {
    span {
      font-size: 100%;
      font-weight: 400;
    }
  }

  h1 {
    font-size: 2.2rem;
    padding: 20px 0 20px 0;

  }


}
