<nav class="navbar navbar-expand-lg sticky-top ">
  <div class="container">

    <a class="navbar-brand" routerLink="/home">
      <span>
        <img src="./../../../../assets/logo.svg" alt="Patexs Logo">
      </span>
    </a>
    <button class="navbar-toggler" (click)="isMenuCollapsed = !isMenuCollapsed" type="button">
      <i class="la la-bars"></i>
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
      <ul class="navbar-nav ml-auto">


        <li class="nav-item">
          <a class="nav-link" [routerLink]="['home']" routerLinkActive="active">{{'NAV.HOME' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['about']" routerLinkActive="active">{{'NAV.ABOUT' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['partners']" routerLinkActive="active">{{'NAV.PARTNERS' | translate}}</a>
        </li>

        <li class="nav-item dropdown" ngbDropdown display="dynamic">
          <a class="nav-link cursor-pointer" id="dropdownBasic1" [routerLink]="servicesActive" routerLinkActive="active"
            ngbDropdownToggle>{{'NAV.SERVICES' | translate}}</a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div class="p-2 text-left">
              <button ngbDropdownItem [routerLink]="['our-services']" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                (click)="onServicesClick('our-services')">{{'NAV.OUR-SERVICES' | translate}}</button>
              <button ngbDropdownItem [routerLink]="['/our-services/', 'it-services']"
                (click)="onServicesClick(['/our-services/', 'it-services'])" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">{{'IT-SERVICES' | translate}}</button>
              <button ngbDropdownItem [routerLink]="['/our-services/', 'consultancy']"
                (click)="onServicesClick(['/our-services/', 'consultancy'])" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">{{'NAV.CONSULTANCY' | translate}}</button>
              <button ngbDropdownItem [routerLink]="['/our-services/', 'outsourcing']"
                (click)="onServicesClick(['/our-services/', 'outsourcing'])" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">{{'NAV.OUTSOURCING' | translate}}</button>
              <button ngbDropdownItem [routerLink]="['/our-services/', 'training']"
                (click)="onServicesClick(['/our-services/', 'training'])" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">{{'NAV.TRAINING' | translate}}</button>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['careers']" routerLinkActive="active">{{'NAV.CAREERS' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['contact-us']"
            routerLinkActive="active">{{'NAV.CONTACT-US' | translate}}</a>
        </li>
        <ng-container *ngIf="lang === 'en'">
          <button class="btn btn-link text-dark" (click)="switchLanguage('ar')">ع</button>
        </ng-container>
        <ng-container *ngIf="lang === 'ar'">
          <button class="btn btn-link text-dark" (click)="switchLanguage('en')">EN</button>
        </ng-container>


      </ul>

    </div>
  </div>

</nav>
