<section class="header">
  <div class="container h-100">
    <div class="row  h-100">
      <div class="text-center align-self-center col-md-12">
        <h1 class="header-title pb-0">
          PaTeXs.
        </h1>

        <ngx-typed-js class="text-light-orange" [loop]="true" [showCursor]="false"
          [strings]="['cellence.', 'perience.', 'pansion.']" [fadeOut]="true" [typeSpeed]="80">
          eX <span class="typing"></span> we have the 'X'
        </ngx-typed-js>
      </div>
    </div>
    <a routerLink="/home" class="to-bottom" (click)="onClick('about')"><img src="./../../../../assets/arrow.png"
        alt="Next"></a>
  </div>
</section>


<section class="about" id='about'>

  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1 class="m-0"><span>{{ 'HOME.ABOUT' | translate}}</span></h1>
        <p class="mt-5 text-muted" [innerHTML]="homeData.about.description"></p>
        <button class="btn btn-warning btn-lg  my-4 ml-2" routerLink="/about">{{ 'BTN.MORE' | translate}}</button>
      </div>
      <div class="col-md-6">

        <img class="img-fluid" [src]="homeData.about.image" alt="about image">
      </div>
    </div>
  </div>
</section>
<div class="container" style="padding: 0 20rem;">
  <hr>
</div>
<section class="services" id='services'>

  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="m-0"><span>{{ 'HOME.SERVICES' | translate}}</span></h1>
        <p class="mt-5 text-muted" [innerHTML]="homeData.services.description"></p>
        <button class="btn btn-warning mt-4 btn-lg ml-2" routerLink="/our-services">{{ 'BTN.MORE' | translate}}</button>
      </div>
      <div class="col-md-5 mt-5">
        <div class="row">
          <div class="col-md-6 my-4 cursor-pointer" *ngFor="let item of homeData.services.sections">
            <div class="form-card" [routerLink]="['/our-services/', item.id]">
              <div class="p-3 text-center">

                <img class="img-fluid" [src]="item.image" alt="">
                <p class="mt-3 mb-0">
                  {{item.title}}
                </p>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<div class="container" style="padding: 0 20rem;">
  <hr>
</div>

<section class="partners" id='partners'>

  <div class="container">
    <h1><span>{{homeData.partners.title}}</span></h1>
    <div class="row justify-content-center mt-5">
      <div class="col-md-2" style="height: 120px" *ngFor="let img of homeData.partners.images">
        <div class="images form-card h-100 d-flex justify-content-center border text-center">
          <img class="img-fluid p-2 Responsive " [src]="img" alt="partner logo">
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-warning mt-5 btn-lg ml-2" routerLink="/partners">{{ 'BTN.MORE' | translate}}</button>
    </div>

  </div>
</section>
